/* Form in modal */
.cover-image-holder{
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: auto;
}

.cover-image-select{
	width: 30%;
	height: 90%;
	margin-bottom: 2%;
}